.container-text{
    display: flex;
}

.container-text > * {
    width: calc(100% / 3);
    padding: 1rem;
    font-weight: bold;
}

.container-video{
    display: flex;
}

.container-video > * {
    width: calc(100% / 3);
    padding: 1rem;
}

.crveniPassportVideo{
    visibility: hidden;
    position: static;
    width: 400px;
    height: 225px;
    margin-top: 100px;
    margin-left: 70px;
}

.cenerVideo{
    visibility: hidden;
    position: static;
    width: 400px;
    height: 225px;
    margin-top: 100px;
    margin-left: 100px;
}

.kriminalVideo{
    visibility: hidden;
    position: static;
    width: 400px;
    height: 225px;
    margin-top: 100px;
    margin-left: 100px;
}